---
import Layout from "../../layouts/Layout.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import { dateFromString } from "../../util.js";

const posts = await Astro.glob("./*.mdx");
posts.sort((a, b) => {
  const dateA = dateFromString(a.frontmatter.date);

  const dateB = dateFromString(b.frontmatter.date);

  return dateB.getTime() - dateA.getTime();
});
---

<Layout
  title="Eny's Blog Posts"
  description="All of Eny's blog posts in one place! Learn about software, what I'm making and more!"
>
  <main>
    <h1 class="header">Eny's Blog Posts</h1>
    <div id="articles">
      {
        posts.map((post, index) => (
          <ArticleCard
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            href={post.url}
            img={post.frontmatter.img}
            tags={post.frontmatter.tags}
            date={dateFromString(post.frontmatter.date)}
          />
        ))
      }
    </div>
    <h2 class="header">And more to come...</h2>
  </main>
</Layout>

<style lang="scss">
  .header {
    text-align: center;
  }

  #articles {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    justify-content: center;
    gap: 2rem;
    margin: 5rem auto;
    flex-wrap: wrap;

    @media (max-width: 1014px) {
      max-width: 70%;
    }

    @media (max-width: 869px) {
      max-width: 100%;
    }
  }
</style>
