---
export function getStaticPaths() {
  return [
    { params: { tag: "crafti" } },
    { params: { tag: "devlog" } },
    { params: { tag: "test" } },
    { params: { tag: "legal" } },
  ];
}

const { tag } = Astro.params;

import Layout from "../../../layouts/Layout.astro";
import ArticleCard from "../../../components/ArticleCard.astro";
import { dateFromString } from "../../../util.ts";

export interface Frontmatter {
  title: string;
  description: string;
  img: string;
  tags: string[];
  date: string;
  unlisted?: boolean;
}

var posts = await Astro.glob<Frontmatter>("../*.mdx");
console.log(posts);
posts.filter((post) => post.frontmatter.unlisted == undefined || false);
posts = posts.filter((post) => post.frontmatter.tags.includes(tag));
posts.sort((a, b) => {
  const dateA = dateFromString(a.frontmatter.date);

  const dateB = dateFromString(b.frontmatter.date);

  return dateB.getTime() - dateA.getTime();
});
---

<Layout title="Eny's Blog Posts" description={`All blog articles about ${tag}`}>
  <main>
    <h1 class="header">Posts with tag <code>{tag}</code></h1>
    <div id="articles">
      {
        posts.map((post, index) => (
          <ArticleCard
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            href={post.url}
            img={post.frontmatter.img}
            tags={post.frontmatter.tags}
            date={dateFromString(post.frontmatter.date)}
          />
        ))
      }
    </div>
    <h2 class="header">
      Check out my <a href="/blog">other posts</a>!
    </h2>
  </main>
</Layout>

<style lang="scss">
  .header {
    text-align: center;
  }

  #articles {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    justify-content: center;
    gap: 2rem;
    margin: 5rem auto;
    flex-wrap: wrap;

    @media (max-width: 1014px) {
      max-width: 70%;
    }

    @media (max-width: 869px) {
      max-width: 100%;
    }
  }
</style>
