---
export interface Props {
  title: string;
  description: string;
  image?: string;
  author?: string;
  type?: string;
  customMeta?: { name: string; content: string }[];
}

const {
  title,
  description,
  image,
  author,
  type,
  customMeta = [],
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    {author !== undefined ? <meta name="author" content={author} /> : ""}
    {image !== undefined ? <meta name="og:image" content={image} /> : ""}
    {type !== undefined ? <meta name="og:type" content={type} /> : ""}
    <meta name="og:title" content={title} />
    {customMeta.map((meta) => <meta name={meta.name} content={meta.content} />)}
    <meta name="og:description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {image !== undefined ? <meta name="twitter:image" content={image} /> : ""}
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="preload"
      fetchpriority="high"
      as="image"
      href="/svg/dark/geometric.svg"
      type="image/webp"
    />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>{title}</title>
  </head><nav class="desktopNav">
    <div id="container">
      <div class="icon">
        <svg
          aria-label="Icon"
          xmlns="http://www.w3.org/2000/svg"
          class="icon"
          viewBox="0 0 1000 1000"
          ><def
            ><pattern
              id="diagonal"
              width="150"
              height="100"
              patternTransform="rotate(45 0 0)"
              patternUnits="userSpaceOnUse"
              ><line
                x1="0"
                y1="0"
                x2="0"
                y2="100"
                stroke-width="75"
                stroke="var(--dark-grey)"
                class="iconFill"
                style="transition: all 0.2s ease-in-out;"></line></pattern
            ></def
          ><path
            d="M 100 250 L 100 750 L 275 925 L 775 925 L 950 750 L 775 575 L 950 400 L 950 250 L 775 75 L 275 75 L 100 250"
            fill="url(#diagonal)"
            stroke-width="50"
            stroke="var(--green-hover)"></path></svg
        >
        <a id="icon-link" href="/"><span>&lt;eny /&gt;</span></a>
      </div>
      <div id="expand"></div>
      <div id="wrapper">
        <a href="/#projects">Projects</a>
        <div class="vertical"></div>
        <a href="/blog">Blog</a>
        <div class="vertical"></div>
        <a href="/#about">About</a>
      </div>
    </div>
  </nav>
  <nav class="mobileNav">
    <div id="links">
      <a href="/" id="icon"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          id="icon"
          viewBox="0 0 1000 1000"
          ><def
            ><pattern
              id="diagonal"
              width="150"
              height="100"
              patternTransform="rotate(45 0 0)"
              patternUnits="userSpaceOnUse"
              ><line
                x1="0"
                y1="0"
                x2="0"
                y2="100"
                stroke-width="75"
                stroke="var(--dark-grey)"
                class="iconFill"
                style="transition: all 0.2s ease-in-out;"></line></pattern
            ></def
          ><path
            d="M 100 250 L 100 750 L 275 925 L 775 925 L 950 750 L 775 575 L 950 400 L 950 250 L 775 75 L 275 75 L 100 250"
            fill="url(#diagonal)"
            stroke-width="50"
            stroke="var(--green-hover)"></path></svg
        ></a
      >
      <div class="vertical"></div>
      <a href="/#projects">Projects</a>
      <div class="vertical"></div>
      <a href="/blog">Blog</a>
      <div class="vertical"></div>
      <a href="/#about">About</a>
    </div>
  </nav>

  <body>
    <div id="content-background"></div>
    <div id="content-wrapper">
      <slot />
    </div>
  </body>
  <footer>
    <span id="author"
      ><a href="https://github.com/EnyCode/enymc.dev">Source Code</a> • <a
        href="/privacy-policy">Privacy Policy</a
      ></span
    >
    <span id="email"><a href="mailto:eny@enymc.dev">eny@enymc.dev</a></span>
  </footer>

  <style lang="scss" is:global>
    #content-background {
      position: fixed;
      top: 4rem;
      z-index: -2;
      height: 100vh;
      width: 100%;
      background-image: url("/svg/dark/geometric.svg");
      background-repeat: no-repeat;
      background-position: 50%;

      @media (prefers-color-scheme: light) {
        background-image: url("/svg/light/geometric.svg");
      }
    }

    html,
    body {
      min-height: 100vh;
    }

    #content-wrapper {
      min-height: calc(100vh - 14.25rem);
    }

    :root {
      --accent: 124, 58, 237;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #da62c4 30%,
        #f187de 60%
      );

      --text-color: #e3e3e3;
      --text-bright: #eee;
      --text-standout: #e4acac;
      --text-standout-hover: #e68d8d;

      /* Design Tip: Replace this with one of the below colours, e.g. green, to add more contrast.  */
      --background-color: #2c2f33;
      --background-primary: #303438;
      --background-secondary: #34383b;
      --background-tertiary: #222527;

      --light-grey: #c4c4c4;
      --dark-grey: #646464;

      --accent-color: #147ad5;
      --accent-hover: #1390ff;

      --green-color: #23382f;
      --green-hover: #0da04f;

      /* Breakpoints for screen sizes. These are all the max sizes for a screen */
      --tablet-breakpoint: 849px;
      --mobile-breakpoint: 649px;

      @media (prefers-color-scheme: light) {
        --text-color: #222;

        --text-standout: #fc3e3e;
        --text-standout-hover: #fc3e3e;

        --background-color: #e9f3ff;
        --background-primary: #d6e4f6;
        --background-secondary: #c6dcf8;
        --background-tertiary: #f5f9ff;

        --light-grey: #525252;
        --dark-grey: #949494;

        --green-color: #ddfcd4;
      }
    }

    img {
      width: 100%;
    }

    html {
      font-family: system-ui, sans-serif;
      background-color: var(--background-color);
      color: var(--text-color);
    }

    body {
      margin: 0;
      padding: 0;
      font-family: "Poppins", sans-serif;
    }

    code {
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }

    :not(pre) > code {
      background-color: var(--background-color);
      padding: 0.2rem 0.4rem;
      border-radius: 5px;
    }

    .astro-code {
      padding: 1rem;
      border-radius: 10px;
    }

    a {
      display: inline-block;
      padding-bottom: 4px;
      background-image: linear-gradient(var(--green-hover) 0 0);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 1px;
      background-repeat: no-repeat;
      transition: background-size 0.3s, background-position 0s 0.3s, color 0.2s;
      color: var(--text-standout);
      text-decoration: none;

      &:hover {
        background-position: 100% 100%;
        background-size: 100% 2px;

        color: var(--text-standout-hover);
      }
    }

    nav.desktopNav {
      width: 100%;
      height: 2.75rem;
      background-color: var(--background-tertiary);
      box-shadow: 0 3px 10px -3px #000;

      display: flex;
      flex-direction: row;

      a {
        color: inherit;
        text-decoration: none;
        padding: 0.25rem 0;
      }

      .icon {
        height: 100%;
        font-size: 1.3rem;
        display: flex;
        flex-direction: row;
        margin-left: 0.25rem;

        svg {
          height: 2.75rem;
          padding: 0.0625rem;
        }

        #icon-link {
          padding: 0.5rem;
        }
      }

      #expand {
        flex-grow: 2;
      }

      #wrapper {
        padding: 0.3rem 0.5rem;
        display: flex;
        gap: 1.25rem;
        margin-right: 1.5rem;
        font-size: 1.1rem;

        .vertical {
          width: 2px;
          background-color: var(--background-secondary);
        }
      }

      #container {
        width: 50vw;
        display: flex;
        margin: auto;

        @media (max-width: 1014px) {
          width: 70vw;
        }
      }

      @media (max-width: 649px) {
        display: none;
      }
    }

    nav.mobileNav {
      width: 100%;
      height: 3rem;
      background-color: var(--background-tertiary);
      box-shadow: 0 3px 10px -3px #000;
      position: fixed;
      bottom: 0;
      display: none;

      flex-direction: row;

      @media (max-width: 649px) {
      }

      a {
        color: inherit;
        text-decoration: none;
        padding: 0.25rem 0;
      }

      .icon {
        height: 100%;
        font-size: 1.3rem;
        display: flex;
        flex-direction: row;
        margin-left: 0.25rem;

        svg {
          height: 2.75rem;
          padding: 0.125rem;
        }

        #icon-link {
          padding: 0.5rem;
        }
      }

      #wrapper {
        padding: 0.3rem 0.5rem;
        display: flex;
        gap: 1.25rem;
        margin-right: 1.5rem;
        font-size: 1.1rem;

        .vertical {
          width: 2px;
          background-color: var(--background-secondary);
        }
      }
    }

    footer {
      height: 1.5rem;
      background-color: var(--background-tertiary);
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0.5rem 1rem;
      box-shadow: 0 -3px 10px -3px #000;

      svg {
        height: 100%;
        width: auto;
      }

      #email {
        text-align: right;
      }

      a {
        justify-self: center;
      }
    }

    li {
      margin: 5px 0;
    }
  </style>


</html>
